p{
    margin-top: 30px;
    color: red;
    font-size: 20px;
    font-weight: bold;}
ul{
    display: flex;
    flex-flow: row wrap;
    width: 1200px;
    margin:50px auto;
}
ul li{
    width: 250px;
    padding: 20px;
    margin: 2px;
    border:1px solid #eaeaea;
}
h4{
    margin-top: 15px;
}
.Salespromotion{
    position: relative;
    bottom:25px ;
    left: 80px;
    width: 60px;
    text-align: center;
    background-color: rgb(231, 14, 14);
    color: #fff;    
    font-size: 16px;
}